.modal {
  display: none;
}

#closeBtn {
  display: none;
}

.left-btn {
  /* float: left; */
  display: inline-block;
}

.delete-btn {
  display: inline;
}

input:invalid:required {
  border: 2px solid red;
}